[defaults]
inventory = inventory.ssh.yml
host_key_checking = False
interpreter_python = auto_silent
forks = 1
strategy = linear
remote_tmp = /tmp/.ansible/tmp

[inventory]
enable_plugins = amazon.aws.aws_ec2
